@model KandTKardach.Models.Album
@{
    ViewBag.Title = "Wedding";
}

@{
    if (Model.Images.Count == 0)
    {
        <h2> No wedding pictures loaded...</h2>
    }
    else
    {
        <div class="image-grid-wrap">
        @{
            for (int j = 0; j < Model.Images.Count; j++)
            {
                string thm = KandTKardach.Models.ImageProcessing.GetThumbnailPath(Model.Images[j].Name);
                <a href="@Url.Action("WeddingImage", "Wedding", new { Model.Images[j].Id })">
                    <img src="@thm" />
                </a>
            }
        }
        </div>
    }
}