@model KandTKardach.ViewModel.AlbumHeaderViewModel
@{ 
    var urlString = "~" + @Model.Album.CoverPhoto.Url;
}
<style type="text/css">
.bgimg {
    background-image: url('@Url.Content(urlString)');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<div class="quote-header bgimg" >
    <p style="text-align: left">"@Model.TopQuote</p>
    <p style="padding-top:30%; text-align-last: right">@Model.BottomQuote."</p>
</div>