<!DOCTYPE html>
<html>
<head>
    <title>Kayla and Tommy</title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body style="background-color:lightgray">
    @Html.Partial("_NavBar")
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
