<style type="text/css">
    body, html {
        height: 100%;
    }

    .parallax {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="quote-header parallax" style="background-image: url('../../Content/Mock/Images/wallhaven-zxlkey.jpg');">
    <p style="text-align: center; padding-top: 20vh">Welcome!</p>
</div>

<div class="month-header">September 2019</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_9_7_19.jpg')"></div>
<div class="month-header">May 2019</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_5_14_19.jpeg')"></div>
<div class="month-header">April 2019</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_4_3_19.jpg')"></div>
<div class="month-header">March 2019</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_3_16_19.jpg')"></div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_3_13_19.jpg')"></div>
<div class="month-header">January 2019</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_1_28_19.jpg')"></div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_1_26_19.jpg')"></div>
<div class="month-header">December 2018</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_12_6_18.jpg')"></div>
<div class="month-header">November 2018</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_11_10_18.jpeg')"></div>
<div class="month-header">October 2018</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_10_28_18.jpg')"></div>
<div class="month-header">September 2018</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_9_29_18.jpg')"></div>
<div class="month-header">August 2018</div>
<div class="parallax" style="background-image: url('../../Content/Images/kandt_8_19_18.jpeg')"></div>